.footer {
    background-color: rgb(24, 20, 20); /* Matches your site's background */
    color: #999999; /* Gray text to match the theme */
    padding: 40px 0; /* Increased padding for breathing space */
    margin-top: 60px; /* Creates space between the footer and the content above */
    width: 100%;
    font-family: 'Spacemono', monospace; /* Matching font */
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5); /* Adds shadow for depth */
  }
  
  .footer-logo img {
    width: 200px;
    height: auto;
  }

  .l-logo img {
    width: 150px;
    height: 80px;
  }

  .r-logo img {
    width: 125px;
    height: 100px;
  }
  
  .footer-social a {
    color: #999999;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-social a:hover {
    color: #F50062; /* Hover effect to match the theme */
  }
  
  .footer-contact a {
    color: #ff9500;
    text-decoration: none;
  }
  
  .footer-contact a:hover {
    color: #FC4C05; /* Hover effect */
  }
  
  .footer-rights {
    color: #777777;
    font-size: 14px;
  }
  
  .footer-rights p {
    margin: 0;
  }
  
  /* Add spacing and separation between footer and other sections */
  footer + section {
    margin-top: 60px;
  }
  
  /* Uniquest logo size */
  .uniquest-logo {
    width: 150px; /* Adjust the width to your desired size */
    height: 150px;
  }

  /* ECell logo size */
  .ecell-logo {
    width: 100px; /* Adjust the width to your desired size */
    height: 100px;
  }
